.mainServices {
    background: linear-gradient(rgba(0, 0, 0, 0.866), rgba(0, 0, 0, 0.3)),
    url("../../assets/camion22.png") center no-repeat;
    background-repeat: no-repeat;
    background-position: -10px;
    background-position-x: right;
    min-height: 752px;
    padding-top: 150px;
    text-align: center;
    
}

.mainServices img {
    position: absolute;
    right: 0;
    top: 300px;
    height: 300px;
}
.mainServices h1 {
    color: rgb(13, 55, 169);
  
}
.mainServices p {
    color: white;
  font-size: 24px;
}

.camExlication {
    padding-top: 50px;
}

.descriServices {
    padding: 0 20%;
}