.mainServices {
  background: linear-gradient(rgba(0, 0, 0, 0.866), rgba(0, 0, 0, 0.3)),
    url("../../assets/camion22.png") center no-repeat;
  background-repeat: no-repeat;
  background-position: -10px;
  background-position-x: right;
  min-height: 700px;
  padding-top: 150px;
  text-align: center;
  padding: 150px 10%;
}

.mainServices img {
  position: absolute;
  right: 0;
  top: 300px;
  height: 300px;
}
.mainServices h1 {
  margin-top: 0;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}

.mainServices h2 {
  font-size: 24px;
  color: rgb(255, 255, 255);
  width: auto;
  text-decoration-line: underline;
}

.mainServices p {
  color: white;
  font-size: 24px;
}

.sectionsServices {
  background: linear-gradient(rgba(0, 0, 0, 0.866), rgba(0, 0, 0, 0.3));
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 100px;
  box-shadow: 1px 1px 20px white;
  padding: 5%;
  transition: 0.2s;
}

.sectionsServices:hover {
  box-shadow: 1px 1px 20px rgb(0, 0, 255);
  border: 1px solid blue;


}
