.mainServices {
    min-height: 452px;
    margin-top: 200px;
    text-align: center;
    
}

.mainServices img {
    position: absolute;
    right: 0;
    top: 300px;
    height: 300px;
}
.mainServices p {
  font-size: 22px;
}

.descriServices {
    padding: 0 20%;
}