.laPourVous {
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/camion11.webp) center/cover no-repeat;
    background-position:  0px -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    text-align: center;
    color: white;
} 



.laPourVous h1 {
    font-size: 25px;
padding: 10% ;
    
}

.mobileFixe, .joursHeures {
    border-top: 3px solid  rgb(13, 55, 169);
    border-bottom: 3px solid  rgb(13, 55, 169);
    margin-bottom: 50px;
}

.joursHeures p{
    margin: 0;
}

.laPourVous h2, .sectionMap h2 {
    text-align: center;
font-size: 25px;
margin-bottom: 10px;
color:  rgb(13, 55, 169);
}
.laPourVous h3 {
margin: 0;}

.cardContact {
    flex-wrap: wrap;
    color: black;
    position: absolute;
    text-align: center;
    width: 70%;
    padding: 30px;
    top: 500px;
    background-color: white;
    box-shadow: 0px 10px 10px black;
    margin-bottom: 900px;
    border-radius: 15px;
    transition: 0.2s;
}

.cardContact:hover {
    box-shadow: 0px 0px 0px grey;
    scale: 0.99;
}

.mobileFixe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caseContact {
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
align-items: center;  
/* width: 33.33%; */
min-width: 186px;
box-shadow: 0 0 0 white;
transition: 0.3s;

}

.caseContact:hover {
    box-shadow: 0px 0px 20px rgb(0, 21, 177);
    transition: 0.3;

}

.tel1 {
height: 24px;
width: 20px;
margin: 5px;
}

.smartphone {
    width: 35px;

}

.mail {
    width: 30px;
    height: 20px;
    margin: 8px;
}

.calendar {
    margin-top: 10px;
    width: 20px;
}

.sectionMap {
    width: 90%;
    margin: 10px auto 50px;
    padding: 50px;
}

.leaflet-container {
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    transition: 0.2s;
}

.leaflet-container:hover {
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    scale: 0.99;
}

/* Add styles for Leaflet */
.leaflet-container {
  height: 400px;
  width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #f9f9f9;
  color: #333333;
  box-shadow: 0 3px 14px rgba(0,0,0,0.2);
  border-radius: 2px;
}
